main
archive
ch_3/dump.txt
foo.txt
test
ch_4/test.cpp
ch_4/test
ch_4/Poly2Raster.cpp
ch_4/Raster2Freq.cpp
ch_4/Proj4Test_bad1.cpp
ch_4/Proj4Test_bad2.cpp
ch_4/Proj4Test_good.cpp
ch_4/main.exe
ch5/Ch5p_fa.asc
ch5/Ch5p_fb.asc
ch5/test
ch5/test.cpp
ch5/main.exe
ch5/out.asc
ch6/test.cpp
ch6/test.exe
ch6/main.exe
ch6/John3 (1).txt
/.vs
